html {
  /* cursor: none; */
  width: 100%;
  height: 100%;

  --game-font: "Pokemon Game", monospace;
  --game-font-size: 90%;
}

@font-face {
  font-family: "Pokemon Game";
  src: url("../assets/font/PKMN RBYGSC.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.pokemon-text {
  font-family: var(--game-font);
  font-size: var(--game-font-size);
  font-synthesis: none;
  font-weight: 400;
  letter-spacing: 0;
  text-shadow: none;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  margin: 0;

  font-family: var(--game-font);
  font-size: var(--game-font-size);

  background-color: rgb(26, 26, 28);
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  min-height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;
}
